version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nexcore-container
    env_file: ./.env
    ports:
      - '4000:4000'
    restart: always
